@font-face {
  font-family: "Now";
  src: url("../../assets/fonts/Geometria/Now-Bold.otf") format("truetype"),
    url("../../assets/fonts/Geometria/Now-Regular.otf") format("truetype"),
    url("../../assets/fonts/Geometria/Now-Medium.otf") format("truetype"),
    url("../../assets/fonts/Geometria/Now-Black.otf") format("truetype");
  font-weight: normal;
}
